@import 'mocha.css';

* {
  color: @text;
}

window#waybar {
    background-color: shade(@base, 0.7);
    border: 2px solid alpha(@crust, 0.3);
}

#custom-separator {
  color: @sapphire;
  margin: 0 1px;
}

#workspaces button {
    padding: 0 5px;
}

#workspaces button.focused {
    background-color: @lavender;
    color: @crust;
    border-bottom: 3px solid white;
}

#workspaces button.active {
    color: @lavender;
    border: 1px solid white;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
